body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
    height: 65vh;
    background-color: rgb(30, 40, 74);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    z-index: 2;
}

.hero-sub {
    font-size: 1.2rem;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

/* Form Section */
.form-section {
    margin-top: -80px;
    /* pulls form slightly over hero */
    position: relative;
    z-index: 5;
}

/* Booking Card */
.booking-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    max-width: 900px;
    width: 100%;
    margin: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Navbar always on top */
.navbar {
    z-index: 10;
    position: relative;
}
.btn-primary {
    background-color: rgb(30, 40, 74);
    border: none;
}

.btn-primary:hover {
    background-color: rgb(76, 106, 204);
}